.user-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10;
  cursor: pointer;
}

.user-chat :hover {
  background-color: #57606f;
  color: white;
}

.user-chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-chat__info {
  color: #2f3542;
  margin-left: 10px;
}

.user-chat__info span {
  font-size: 18px;
  font-weight: 500;
}

.user-chat__info p {
  font-size: 14px;
  margin: 0;
}
